@using BaseSource.ViewModels.BaoHiem
@model List<BaoHiemVm>
@{
    ViewData["Title"] = "Danh sách khách hàng mua bảo hiểm";
}

<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
<div class="row mb-2">
    <div class="col-12 ">
        <div class="card shadow h-100 ">

            <div class="card-body">
                <div class="row ">
                    <div class="col-md-7">

                        <div class="">
                            <form class="form-inline">

                                <div class="mb-3">
                                    <input type="date" class="form-control" id="from">
                                </div>
                                <div class="mb-3">
                                    <input type="date" class="form-control" id="to">
                                </div>
                                <div class="mb-3">
                                    <select class=" form-control" name="type">
                                        <option value="AL">Tất cả loại phiếu</option>
                                        <option value="AL">Tất cả loại phiếu</option>
                                        <option value="AL">Tất cả loại phiếu</option>
                                        <option value="AL">Tất cả loại phiếu</option>
                                        <option value="AL">Tất cả loại phiếu</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary mb-2">Tìm kiếm</button>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- table  Lastest Tickets -->
    <div class="col-12 ">
        <div class="card shadow h-100 mb-4 ">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="m-0 font-weight-bold">@ViewData["Title"]</h5>
                @*<button type="button" class="btn btn-primary btn-sm createHopDong" data-id="0" data-url="@Url.Action("MuaBaoHiem","DichVu")">Thêm bh mới</button>*@
                @*<a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-target="#modal_create_BuyInsurance">+ Thêm mới</a>*@
                <button type="button" class="btn btn-primary btn-sm" id="btnAddBaoHiem">+ Thêm mới</button>
            </div>
            <div class="card-body">
                <div class="row ">
                    <div class="col-md-12">

                        <div class="mb-2">
                            <button class="btn btn-primary btn-sm me-5"> Nạp tiền</button>
                            <span class="ms-5">$ Số dư ví <span class="text-danger">0</span> VND</span>
                            <span class="float-right"> Tổng số 0 khách hàng</span>
                            <div class="mt-2">
                                <a class="text-sm" href="#">Hợp đồng sử dụng</a>
                            </div>
                        </div>
                        <div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            STT
                                        </th>
                                        <th scope="col">
                                            Khách hàng
                                        </th>
                                        <th scope="col">
                                            Ngày đăng ký
                                        </th>
                                        <th scope="col">
                                            Loại bảo hiểm
                                        </th>
                                        <th scope="col">
                                            Doanh thu
                                        </th>
                                        <th scope="col">
                                            Đã nộp
                                        </th>
                                        <th scope="col">
                                            Chiết khấu được hưởng
                                        </th>
                                        <th scope="col">
                                            Trạng thái
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        var index = 1;
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@index</td>
                                                <td>@item.Ten</td>
                                                <td>@item.StartDate.ToString("dd/MM/yyyy")</td>
                                                <td>@item.Type.ToString()</td>
                                                <td>@item.TienBaoHiem.ToString("N0")</td>
                                                <td>@item.TongTien.ToString("N0")</td>
                                                <td>@item.TienChietKhau.ToString("N0")</td>
                                                <td>Đang chờ mua</td>
                                                <td></td>
                                            </tr>
                                            index++;
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Tổng</td>
                                        <td>@Model.Sum(x=>x.TienBaoHiem).ToString("N0")</td>
                                        <td>@Model.Sum(x=>x.TongTien).ToString("N0")</td>
                                        <td>@Model.Sum(x=>x.TienChietKhau).ToString("N0")</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal_BuyInsurance"></div>
<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Thông tin ký hợp đồng</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div>
                    <a href="#">Hợp đồng sử dụng</a>
                </div>
                <hr />
                <div class="">
                    <form class="">
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Họ và tên <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <input type="text" class="form-control " placeholder="Nhập họ và tên bạn">
                            </div>
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Số điện thoại <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <input type="text" class="form-control " placeholder="Nhập số điện thoại">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Ngày sinh <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <input type="date" class="form-control ">
                            </div>
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Số CMND/ Hộ chiếu <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <input type="text" class="form-control " placeholder="Nhập số CMND/Hộ chiếu">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Email <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <input type="text" class="form-control " placeholder="Nhập Email">
                            </div>
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Mã số thuế <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <input type="text" class="form-control " placeholder="Nhập mã số thuế...">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label  font-weight-bold">Địa chỉ <span class="text-danger">*</span></label>
                            <div class="col-lg-9 col-sm-12 col-12">
                                <textarea type="text" class="form-control " placeholder="Nhập địa chỉ"></textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label  "> </label>
                            <div class="col-lg-9 col-sm-12 col-12">
                                <a href="#">Hợp đồng sử dụng</a>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label  "> </label>
                            <div class="col-lg-9 col-sm-12 col-12">
                                <button class="btn btn-primary"><i data-feather="save"></i> Ký hợp đồng</button>
                                <button type="button" class="btn btn-warning " data-bs-dismiss="modal"><i data-feather="x"></i> Đóng</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="modal_create_BuyInsurance">
    <div class="modal-dialog modal-xl">
        <div class="container-fluid modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Mua bảo hiểm sức khỏe</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form class="">
                    <div>
                        <h6>Thông tin khách hàng</h6>
                    </div>
                    <hr />
                    <div class="">

                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Tên khách hàng <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <input type="text" class="form-control " placeholder="Nhập họ và tên bạn">
                            </div>
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Giới tính <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <div class="form-check-inline mt-2">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio">Nam
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio">Nữ
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Số điện thoại <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <input type="text" class="form-control" placeholder="Nhập số điện thoại">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Ngày sinh <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <input type="date" class="form-control ">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Số CMND/Hộ chiếu <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <input type="text" class="form-control" placeholder="Nhập số CMND/Hộ chiếu">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Ngày cấp <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <input type="date" class="form-control">
                            </div>
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Nơi cấp <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <input type="text" class="form-control" placeholder="Nhập nơi cấp">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Email <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <input type="text" class="form-control" placeholder="Nhập Email">
                            </div>
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Mã số thuế <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <input type="text" class="form-control" placeholder="Nhập mã hợp đồng...">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label  font-weight-bold">Địa chỉ <span class="text-danger">*</span></label>
                            <div class="col-lg-9 col-sm-12 col-12">
                                <textarea type="text" class="form-control " placeholder="Nhập địa chỉ"></textarea>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <h6>Thông tin bảo hiểm</h6>
                    </div>
                    <hr />
                    <div class="">

                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Gói bảo hiểm <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <select class="form-control">
                                    <option>10000</option>
                                    <option>10000</option>
                                    <option>10000</option>
                                    <option>10000</option>
                                </select>
                            </div>
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Tiền phí : <span>0</span></label>

                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Ngày mua <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <input type="date" class="form-control">
                            </div>
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Tiền chiết khấu : <span>0</span></label>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Thời gian mua <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-text">Ngày</div>
                                    <input type="number" value="360" disabled class="form-control">
                                </div>
                            </div>
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Tiền phải đóng : <span>0</span></label>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <h6>Chứng từ</h6>
                    </div>
                    <hr />
                    <div class="">
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Ngày mua <span class="text-danger">*</span></label>
                            <div class="col-lg-9 col-sm-12 col-12">
                                <div class="dropzone dz-clickable" id="myDrop">
                                    <div class="dz-default dz-message" data-dz-message="">
                                        <span>Drop files here to upload</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label  "> </label>
                            <div class="col-lg-9 col-sm-12 col-12">
                                <button class="btn btn-primary"><i data-feather="save"></i>Lưu lại</button>
                                <button type="button" class="btn btn-warning " data-bs-dismiss="modal"><i data-feather="x"></i> Đóng</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        $(".insurance-nav").addClass("active");

        //show modal
        $("#myModal").modal("show");
        // Dropzone.autoDiscover = false;
        // Dropzone.default.autoDiscover = false;
        $("div#myDrop").dropzone({
            url: "/file",
        });
    </script>
    <script src="~/admin/js/BaoHiem/BaoHiem.js" asp-append-version="true"></script>
}