@model HDPaymentByDateVm
@{
    var dataPaymentByDate = JsonConvert.SerializeObject(Model);
}
<a style="cursor:pointer" data-bs-toggle="collapse" href="#collapseDongLai" aria-expanded="false" aria-controls="collapseTaiSan">
    >> Chức năng đóng lãi tùy biến theo ngày
</a>
<div class="collapse" id="collapseDongLai">
    <form data-name="frmDongLaiTheoNgay" id="frmDongLaiTheoNgay" asp-action="CreateHDPaymentByDate" method="post">
        <div class="form-group row">
            <input type="hidden" asp-for="HdId" />
            <label class="col-lg-4 col-sm-12 col-12 lbl-right">
                Lãi từ ngày
            </label>
            <div class="col-lg-3">
                <span>@Model.FromDate.ToString("dd/MM/yyyy")</span>
                <input type="hidden" asp-for="FromDate" name="FromDate" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-4 col-sm-12 col-12 lbl-right">
                Đến ngày
            </label>
            <div class="col-lg-3">
                <input type="date" class="form-control" name="ToDate" value="@Model.ToDate.ToString("yyyy-MM-dd")" onchange="changePaymentDate(this,@Model.HdId)" />
            </div>
            <div class="col-lg-3">
                (Ngày đóng lãi tiếp : @Model.NgayDongLaiTiepTheo.ToString("dd/MM/yyyy"))
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-4 col-sm-12 col-12 lbl-right">
                Số ngày
            </label>
            <div class="col-lg-3">
                <input class="form-control" asp-for="CountDay" name="CountDay" id="CountDay" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-4 col-sm-12 col-12 lbl-right">
                Tiền lãi
            </label>
            <div class="col-lg-3">
                <span class="tienlai text-success font-weight-bold">@Model.MoneyInterest.ToString("N0") VNĐ</span>
                <input type="hidden" asp-for="MoneyInterest" />
                <input type="hidden" asp-for="MoneyPay" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-4 col-sm-12 col-12 lbl-right">
                Tiền khác
            </label>
            <div class="col-lg-3">
                <div class="input-group">
                    <input class="form-control money-textbox" asp-for="MoneyOther">
                    <input type="hidden" />
                    <div class="input-group-append">
                        <span class="input-group-text">VNĐ</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-4 col-sm-12 col-12 lbl-right">
                Tổng tiền lãi
            </label>
            <div class="col-lg-3">
                <span class="tongtienlai text-danger font-weight-bold">@Model.MoneyPayNeed.ToString("N0") VNĐ</span>
                <input type="hidden" asp-for="MoneyPayNeed" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-4 col-sm-12 col-12 lbl-right">
                Tiền khách đưa
            </label>
            <div class="col-lg-3">
                <div class="input-group">
                    <input class="form-control money-textbox"  id="CustomerPayDisplay" value="@Model.CustomerPay">
                    <input type="hidden" asp-for="CustomerPay" />
                    <div class="input-group-append">
                        <span class="input-group-text">VNĐ</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-4 col-sm-12 col-12"></label>
            <div class="col-lg-3">
                <button class="btn btn-primary btn-sm" type="submit"><i class="fas fa-thumbs-up"></i> Đóng lãi</button>
            </div>
        </div>
    </form>
</div>
<script>
    var dataPaymentByDate=@Html.Raw(dataPaymentByDate);
</script>