@model EditCauHinhHangHoaVm
@{
    ViewData["Title"] = "Thêm mới cấu hình hàng hóa";
}
<div>
    <div class="card shadow h-100">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="m-0 font-weight-bold">@ViewData["Title"]</h3>
            <a class="btn btn-sm btn-secondary shadow-sm" asp-action="Index"><i class="fas fa-arrow-left fa-fw fa-sm text-white-50"></i> Back</a>
        </div>

        <div class="card-body">
            <form asp-action="Edit" data-name="ajaxFormHangHoa" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.HiddenFor(x => x.Id);
                <div class="row mb-3">
                    <label asp-for="LinhVuc" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <select class="form-control" asp-for="LinhVuc" asp-items="@Html.GetEnumSelectList<ELinhVucHangHoa>()">
                            <option selected="selected" value="">--Chọn loại--</option>
                        </select>
                        <span asp-validation-for="LinhVuc" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for="MaTS" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="MaTS" class="form-control " />
                        <span asp-validation-for="MaTS" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for="Ten" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Ten" class="form-control " />
                        <span asp-validation-for="Ten" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for="IsPublish" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="IsPublish" />
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for="HinhThucLai" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <select class="form-control" asp-for="HinhThucLai" asp-items="@Html.GetEnumSelectList<EHinhThucLai>()" onchange="getMoTaHinhThucLai()">
                        </select>
                        <span asp-validation-for="HinhThucLai" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for="IsThuLaiTruoc" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="IsThuLaiTruoc" />
                    </div>
                </div>
                <div class="row mb-3">

                    <label asp-for="TongTien" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <div class="input-group">
                            <input type="text" class="form-control money-textbox" value="@Model.TongTien">
                            <input type="hidden" asp-for="TongTien" />
                            <span class="input-group-text" id="basic-addon2">VNĐ</span>
                        </div>
                        <span asp-validation-for="TongTien" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for="LaiSuat" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <div class="input-group">
                            <input type="text" class="form-control money-textbox" value="@Model.LaiSuat">
                            <input type="hidden" asp-for="LaiSuat" />
                            <span class="input-group-text tyLeLai" id="basic-addon2"></span>
                        </div>
                        <span asp-validation-for="LaiSuat" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for="KyLai" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <div class="input-group">
                            <input asp-for="KyLai" min="0" class="form-control " />
                            <span class="input-group-text motaKyLai" id="basic-addon2"></span>
                        </div>
                        <span asp-validation-for="KyLai" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for="TongThoiGianVay" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <div class="input-group">
                            <input asp-for="TongThoiGianVay" min="0" class="form-control " />
                            <span class="input-group-text thoigianvay" id="basic-addon2"></span>
                        </div>
                        <span asp-validation-for="TongThoiGianVay" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for="SoNgayQuaHan" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <div class="input-group">
                            <input asp-for="SoNgayQuaHan" class="form-control " />
                            <span class="input-group-text" id="basic-addon2">ngày quá hạn</span>
                        </div>
                        <span asp-validation-for="SoNgayQuaHan" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for="ListThuocTinh" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <div class="repeatThuocTinh">
                            <button data-repeater-create type="button" class="btn btn-sm btn-success mb-3" value=""><i data-feather="plus"></i> Thêm thuộc tính</button>
                            <div data-repeater-list="groupthuoctinh" class="col-md-6 p-0">
                                <div data-repeater-item class="mb-3 d-flex">
                                    <input type="text" class="form-control me-3 group-thuoctinh-item" placeholder="Thuộc tính hàng hóa" name="thuoctinh" value="" />
                                    <button data-repeater-delete type="button" class="btn btn-sm btn-danger"><i data-feather="minus"></i></button>
                                </div>
                            </div>

                        </div>
                        <input type="hidden" name="ListThuocTinh" id="ListThuocTinh" />

                    </div>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts{
    <script>
        $(".cauhinhhanghoa-nav").addClass("active");
        setMoneyTextBox(".money-textbox");
        $(document).ready(function () {
            getMoTaHinhThucLai();
          var lstThuocTinh = '@Html.Raw(Model.ListThuocTinh)';
            var $repeater = $('.repeatThuocTinh').repeater({
                initEmpty: true,
                show: function () {
                    $(this).slideDown();
                },
                hide: function (deleteElement) {
                    $(this).slideUp(deleteElement);
                },
            });

            if (lstThuocTinh != '') {
                var newArr = JSON.parse(lstThuocTinh).map(function (value) {
                    return { "thuoctinh": value };
                });
          $repeater.setList(newArr);
        }
        });

        function getMoTaHinhThucLai() {
            var type = $('#HinhThucLai').val();
            $.ajax({
                type: "GET",
                url: "/MoTaHinhThucLai/GetMoTaHinhThucLai",
                data: { hinhThucLai: type },
                success: function (data) {
                    if (data && data.length > 0) {
                        $('.tyLeLai').html(data[0].tyLeLai);
                        $('.motaKyLai').html(data[0].moTaKyLai);
                        $('.thoigianvay').html(data[0].thoiGian);
                    }
                }
            })
        }


    </script>
}   