@model HopDongVm
@{
    Layout = null;
    string lblDisplayDebitOrOverMoney = "";
    string lblDisplayLoanDebit = "";
}
<style>
    fieldset {
        display: none;
    }

        fieldset.show {
            display: block;
        }


    .tabs {
        margin: 2px 5px 0px 5px;
        padding-bottom: 10px;
        cursor: pointer;
    }

        .tabs:hover, .tabs.active {
            border-bottom: 1px solid #2196F3;
        }

    a:hover {
        text-decoration: none;
        color: #1565C0;
    }


    .line {
        background-color: #CFD8DC;
        height: 1px;
        width: 100%;
    }
</style>
<div class="row">
    <div class="col-md-6">
        <table class="table table-hover table-bordered table-detail-hd">
            <tbody>
                <tr id="trCusName">
                    <td colspan="3">
                        <span class="text-danger font-weight-bold" id="lblCusName">@Model.TenKhachHang</span>
                        <label id="lblCusPhone"> - <i class="fas fa-phone-alt" style="font-size:10px"></i><small> <i> @Model.SDT </i></small></label>
                        <span><i class="fas fas fa-map-marker-alt" style="font-size:10px"></i> @Model.DiaChi</span>
                    </td>
                </tr>
                <tr>
                    <td><span class="font-weight-bold">Tiền cầm</span></td>
                    <td colspan="2" align="right"><span id="lblTotalMoney" class="lblTongTienVayHienTai">@Model.HD_TongTienVayBanDau.ToString("N0")</span> VND</td>
                </tr>
                <tr>
                    <td><span class="font-weight-bold">Vay từ ngày</span></td>
                    <td align="right"><span id="lblFromDate">@Model.HD_NgayVay.ToString("dd/MM/yyyy")</span> </td>
                    <td align="right"><span id="lblToDate">@Model.HD_NgayDaoHan.ToString("dd/MM/yyyy")</span></td>
                </tr>
                <tr>
                    <td><span class="font-weight-bold">Ngày trả lãi gần nhất</span></td>
                    <td colspan="2" align="center"><span id="lblLastDateOfPay">@Model.NgayDongLaiGanNhat?.ToString("dd/MM/yyyy")</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-hover table-bordered table-detail-hd">
            <tbody>
                <tr>
                    <td><span class="font-weight-bold">Lãi suất</span></td>
                    <td colspan="2" align="right"><span id="lblStrRate">@Model.TyLeLai</span></td>
                </tr>
                <tr>
                    <td><span class="font-weight-bold">Tiền lãi đã đóng</span></td>
                    <td colspan="2" align="right">
                        <span id="lblPaymentMoney">@Model.TongTienLaiDaThanhToan.ToString("N0")</span> VNĐ
                    </td>
                </tr>
                <tr>
                    @if (Model.TongTienGhiNo <= 0)
                    {
                        lblDisplayDebitOrOverMoney = "Nợ cũ KH";
                        lblDisplayLoanDebit = "Nợ cũ HĐ";
                    }
                    else
                    {
                        lblDisplayDebitOrOverMoney = "Tiền thừa KH";
                        lblDisplayLoanDebit = "Tiền thừa HĐ";
                    }
                    <td>
                        <span class="font-weight-bold" id="lblDisplayDebitOrOverMoney">@lblDisplayDebitOrOverMoney: </span>
                        <span class="@(Model.TongTienGhiNo <= 0?"text-danger":"text-success") font-weight-bold" id="lblCustomerDebitMoney">
                            @((Model.TongTienGhiNo*-1).ToString("N0")) VNĐ
                        </span>
                    </td>
                    <td align="right">
                        <span class="font-weight-bold" id="lblDisplayLoanDebit">@lblDisplayLoanDebit: </span>
                        <span class="@(Model.TongTienGhiNo <= 0?"text-danger":"text-success") font-weight-bold" id="lblLoanDebitMoney">
                            @((Model.TongTienGhiNo*-1).ToString("N0")) VNĐ
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><span class="font-weight-bold">Trạng thái</span></td>
                    <td colspan="2" align="right" class=""><span id="lblStatus"><span class="m-badge m-badge--info m-badge--wide" style="font-size:12px">Hôm nay đóng tiền</span></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row d-flex justify-content-between">
    <div class="tabs active" data-type="tab-dongtienlai" id="tab01">
        <h6><i class="fas fa-money-bill"></i> Đóng tiền lãi</h6>
    </div>
    <div class="tabs" id="tab02" data-type="tab-trabotgoc">
        <h6 class="font-weight-bold"><i class="fas fa-money-bill"></i> Trả bớt gốc</h6>
    </div>
    <div class="tabs" id="tab03">
        <h6><i class="fas fa-money-check-edit"></i> Vay thêm</h6>
    </div>
    <div class="tabs" id="tab04">
        <h6>Gia hạn</h6>
    </div>
    <div class="tabs" id="tab04">
        <h6>Chuộc đồ</h6>
    </div>
    <div class="tabs" id="tab04">
        <h6>Nợ</h6>
    </div>
    <div class="tabs" id="tab04">
        <h6>Chứng từ</h6>
    </div>
    <div class="tabs" id="tab04" data-type="tab-history">
        <h6 class="font-weight-bold"><i class="fas fa-clipboard-list"></i> Lịch sử</h6>
    </div>
    <div class="tabs" id="tab04">
        <h6>Lịch sử trả chậm</h6>
    </div>
    <div class="tabs" id="tab04">
        <h6>Hẹn giờ</h6>
    </div>
</div>
<div class="line"></div>
<div class="mt-3">
    <fieldset class="show" id="tab011">
        <div id="divContent-Tralaitheongay">

        </div>
        <div id="divContent-ListPayment">

        </div>
    </fieldset>
    <fieldset id="tab021">
        <div class="d-flex justify-content-center">
            <div class="col-md-6">
                <form id="frmTraBotGoc" asp-action="TraBotGoc" method="post">
                    <input type="hidden" name="HopDongId" id="HopDongId" value="@Model.Id" />
                    <div class="form-group row">
                        <label class="col-4">Ngày trả trước gốc</label>
                        <div class="col-8">
                            <input type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="NgayTraGoc" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4">Số tiền gốc trả trước</label>
                        <div class="col-8">
                            <input type="text" class="form-control" id="SoTienTraTruocDisplay" />
                            <input type="hidden" name="SoTienTraTruoc" />
                            <span class="text-danger field-validation-valid" data-valmsg-for="SoTienTraTruoc" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4">Ghi chú</label>
                        <div class="col-8">
                            <textarea class="form-control" name="Note" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4"></label>
                        <div class="col-8">
                            <button class="btn btn-primary btn-sm" type="submit"><i class="fas fa-thumbs-up"></i> Đồng ý</button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
        <div id="divContent-ListTraGoc">

        </div>
    </fieldset>
    <fieldset id="tab031">
        Vay thêm
    </fieldset>
    <fieldset id="tab041">
        <div>
            <div class="d-flex justify-content-center">
                <div class="col-md-6">
                    <form id="frmNhacNo" method="post" asp-action="Create" asp-controller="HopDong_DebtNote">
                        <input type="hidden" name="HopDongId" value="@Model.Id" />
                        <div class="form-group row">
                            <label class="col-2">Ghi chú</label>
                            <div class="col-10">
                                <textarea class="form-control" name="Note" rows="5"></textarea>
                                <span class="text-danger field-validation-valid" data-valmsg-for="Note" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2"></label>
                            <div class="col-10">
                                <button class="btn btn-primary btn-sm" type="submit"><i class="fas fa-save"></i> Lưu lại</button>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
            <div id="divContent-CommentDebt">

            </div>
        </div>

        <div id="divContent-CuaHang_TransactionLog">

        </div>
    </fieldset>

</div>

<script>
    $(document).ready(function () {
        setMoneyTextBox("#SoTienTraTruocDisplay");
        getListPaymentLog(@Model.Id);
        getInfoPaymentByDate(@Model.Id);
    })


    $(".tabs").click(function () {
        var tabType = $(this).data("type");
        loadDataTab(tabType);
        $(".tabs").removeClass("active");
        $(this).children("h6").addClass("font-weight-bold");
        $(this).addClass("active");

        current_fs = $(".active");

        next_fs = $(this).attr('id');
        next_fs = "#" + next_fs + "1";

        $("fieldset").removeClass("show");
        $(next_fs).addClass("show");

        current_fs.animate({}, {
            step: function () {
                current_fs.css({
                    'display': 'none',
                    'position': 'relative'
                });
                next_fs.css({
                    'display': 'block'
                });
            }
        });


    });
    function loadDataTab(type) {
        switch (type) {
            case "tab-history":
                getCuahang_TransactionLog(@Model.Id);
                 geHopDong_DebtNote(@Model.Id);
                break;
            case "tab-dongtienlai":
                getListPaymentLog(@Model.Id);
                getInfoPaymentByDate(@Model.Id);
                break;
            case "tab-trabotgoc":
                getHistoryLoanExtra(@Model.Id);


            default:
            // code block
        }
    }

</script>