@model InDongLaiResponseVm
<!DOCTYPE html>
<head>
    <title>Kỳ đóng lãi</title>
</head>
<body>
    <style>
        body {
            margin: 0;
            font-size: 22px;
        }

        .tbl_header {
            width: 100%;
        }

        .top_contract > td {
            text-align: center;
        }

        .diachi > td {
            text-align: left;
        }

        .name_product {
            margin: 0;
        }

        .p_conghoa {
            margin: 0;
            text-transform: uppercase;
            margin-top: 3px;
            font-size: 26px
        }

        .p_doclap {
            font-size: 16px;
            text-transform: capitalize;
            margin: 0;
            font-size: 26px
        }

        .p_line {
            margin: -3px 0 0;
            font-size: 16px;
        }

        .p_normal {
            margin: 0 0 8px;
        }

        .date {
            margin: 0 0 5px;
        }

        .title_hd {
            font-size: 32px;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            margin: 15px 0px 0px 0px;
            position: relative;
        }

        .after_title_hd {
            text-align: center;
            margin: 0px 0px 30px 0px;
            position: relative;
        }

        .p_shopname {
            font-size: 23px;
            text-transform: uppercase;
            font-weight: bold;
        }

        .tab_line {
            display: inline-table;
            margin: 0 0 0 30px;
            padding: 0;
        }

            .tab_line > label {
                display: table-cell;
                margin: 0;
                padding: 0 15px 0 0;
            }

        .tab_line2 {
            margin-left: 70px;
        }

        .tbl_thu {
            width: 100%;
            margin-top: 5px;
        }

        .tbl_ky {
            width: 100%;
            text-align: center;
            margin-top: 20px;
        }

        .daidienky {
            margin: 0 0 5px;
            text-transform: uppercase;
        }
    </style>
    <div style="width:700px;">
        <table class="tbl_header" cellpadding="0" cellpadding="0">
            <tr class="top_contract" valign="top">
                <td>
                    <p class="p_conghoa">Cộng hòa xã hội chủ nghĩa Việt Nam</p>
                    <p class="p_doclap">Độc Lập - Tự Do - Hạnh phúc</p>
                    <p class="p_line">............o0o............</p>
                </td>
            </tr>
        </table>

        <p class="title_hd">Biên nhận đóng lãi</p>
        <p class="after_title_hd">HĐ Số: @Model.MaHD</p>
        <p class="date">
            @{
                var currenDate = DateTime.Now;
            }
            Hôm nay, ngày: <b>@currenDate.Day tháng @currenDate.Month năm @currenDate.Year</b>
        </p>
        <p class="p_shopname p_normal">@Model.TenNhanVien</p>
        <p class="p_normal">Đã nhận tiền lãi của</p>
        <p class="p_normal">Ông (Bà): <span class="p_shopname">@Model.TenKhachHang</span></p>
        <div>


        </div>
        <div style="clear:both">

        </div>
        <p class="p_normal">Theo hợp đồng cầm đồ Số:  <b>@Model.MaHD</b></p>
        <p class="p_normal">Kỳ lãi : từ ngày <b>@Model.FromDate.ToString("dd/MM/yyyy")</b> đến ngày <b>@Model.ToDate.ToString("dd/MM/yyyy")</b></p>
        <p class="p_normal">Số tiền lãi : <b>@Model.TienLai.ToString("N0") VNĐ</b></p>
        <p class="p_normal">Theo đó, HĐ số : @Model.MaHD ngày đóng lãi tiếp theo là : <b>@Model.NgayDongLaiTiepTheo?.ToString("dd/MM/yyyy")</b></p>
        <table class="tbl_ky">
            <tr>
                <td>
                    <p class="daidienky">Khách hàng</p>
                </td>
                <td>
                    <p class="daidienky">Chủ cầm đồ</p>
                </td>
            </tr>
        </table>

    </div>
</body>
