@model List<CuaHang_TransactionLogVm>
@{
    int idx = 1;
}
<div class="info-hd-header">
    <i class="fa fa-list"></i> Lịch sử trả tiền gốc
</div>
<div class="list-payment">
    <table class="table table-bordered head-bg-gray table-hover">
        <thead>
            <tr>
                <th class="text-center">STT</th>
                <th class="text-center">Thời gian</th>
                <th class="text-center">Loại hình</th>
                <th class="text-center">Ghi chú</th>
                <th class="text-center">Số tiền</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@idx</td>
                        <td>@item.CreatedDate.ToString("HH:mm dd/MM/yyyy")</td>
                        <td>@EnumExtensions.GetEnumDisplayName(((EHopDong_ActionType)item.ActionType))</td>
                        <td>@item.Note</td>
                        <td class="text-right">-@item.MoneyAdd.ToString("N0") VND</td>
                        <td class="text-center">
                            <button class="btn btn-red btn-icon btn-sm" type="button" data-toggle="btn-confirm" data-title="Bạn có chắc chắn muốn xóa trả gốc?" data-href="@Url.Action("XoaTraBotGoc", new { tranLogId = item.Id })" title="Xóa trả gốc">
                                <i class="fas fa-times"></i>
                            </button>
                        </td>
                    </tr>
                    idx++;
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">Không có dữ liệu</td>
                </tr>
            }
            <tr>
                <td colspan="4" class="text-danger text-right">Tổng gốc còn lại:</td>
                <td class="text-danger text-right" id="lblTongTienVayHienTai">0</td>
            </tr>


        </tbody>
    </table>

</div>