@model List<HopDong_VayRutGocVm>
@{
    int idx = 1;
}
<div class="info-hd-header">
    <i class="fa fa-list"></i> Lịch sử trả tiền gốc
</div>
<div class="list-tragoc">
    <table class="table table-bordered head-bg-gray table-hover">
        <thead>
            <tr>
                <th class="text-center">STT</th>
                <th class="text-center">Thời gian</th>
                <th class="text-center">Loại hình</th>
                <th class="text-center">Ghi chú</th>
                <th class="text-center">Số tiền</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0)
            {
                @foreach (var item in Model)
                {
                    string clss = "";
                    <tr id="vaythem-@item.Id">
                        <td>@idx</td>
                        <td>@item.ExtraDate.ToString("dd/MM/yyyy")</td>
                        <td>@EnumExtensions.GetEnumDisplayName(((EHopDong_ActionType)item.ActionType))</td>
                        <td>@item.Note</td>
                        <td class="text-right">
                            @if ((EHopDong_ActionType)item.ActionType == EHopDong_ActionType.VayThemGoc)
                            {
                                <span> @item.TotalMoney.ToString("N0") VND</span>
                                clss = "btn-xoavaythem";
                            }
                            else
                            {
                                <span> -@item.TotalMoney.ToString("N0") VND</span>
                                clss = "btn-xoatragoc";
                            }

                        </td>
                        <td class="text-center">
                            <button class="btn btn-red btn-icon btn-sm @clss" type="button" data-id="@item.Id" data-hopdongId="@item.HopDongId" data-title="Bạn có chắc chắn muốn xóa trả gốc?" data-href="@Url.Action("XoaVayRutGoc", new { tranLogId = item.Id })" title="Xóa trả gốc">
                                <i class="fas fa-times"></i>
                            </button>
                        </td>
                    </tr>
                    idx++;
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">Không có dữ liệu</td>
                </tr>
            }
            <tr>
                <td colspan="4" class="text-danger text-right">Tổng gốc còn lại:</td>
                <td class="text-danger text-right lblTongTienVayHienTai">0</td>
            </tr>


        </tbody>
    </table>

</div>