@model PagedResult<WalletTransactionVM>
@{
    ViewData["Title"] = "Quản lý lịch sử mua hàng";

}


<div class="row">
    <!-- table  Lastest Tickets -->
    <div class="col-12  ">
        <div class="card shadow h-100 mb-4 ">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="m-0 font-weight-bold">@ViewData["Title"]</h3>
                <a class="btn btn-primary btn-sm" asp-action="Create">Thêm mới</a>
            </div>
            <div class="card-body">
                <form asp-action="Index" method="get" class="mb-4">
                    <div class="form-group row">
                        <label for="username" class="col-sm-2 font-weight-bolder text-dark col-form-label">Tên</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="ten" value="@Context.Request.Query["ten"]">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fas fa-search"></i>
                                <span class="ml-1">Tìm kiếm</span>
                            </button>
                            <a asp-action="Index" class="btn btn-success btn-sm ml-2">
                                <i class="fas fa-sync-alt"></i>
                                <span class="ml-1">Reset</span>
                            </a>
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Tên khách hàng
                                </th>
                                <th scope="col">
                                    Loại giao dịch
                                </th>
                                <th scope="col">
                                    Số tiền
                                </th>
                                <th scope="col">
                                    Số Hợp đồng
                                </th>
                                 <th scope="col">
                                   Nhân viên tạo
                                </th>
                                <th scope="col">
                                    Ngày tạo
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Items.Count > 0)
                            {
                                foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td>
                                            @item.NameUser
                                        </td>
                                        <td>
                                            @item.TargetType
                                        </td>
                                        <td>
                                            @item.SoBaoHiem
                                        </td>
                                        <td>
                                            @item.Sotien.ToString("N0")
                                        </td>
                                        <td>
                                            @item.NhanVienGiaoDich
                                        </td>
                                        <td>
                                            @item.NgayGiaoDich.ToString("HH:mm dd/MM/yyyy")
                                        </td>
        
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" class="text-center">Không có dữ liệu</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                @if (Model.PageCount > 1)
                {
                    <div>
                        @await Html.PartialAsync("_Pager", new PagedResultBase()
                   {
                       PageNumber = Model.PageNumber,
                       PageSize = Model.PageSize,
                       TotalItemCount = Model.TotalItemCount,
                       PageUrl = Url.Action("Index")
                   })
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(".goisanpham-nav").addClass("active");
    </script>
}