@model EditHopDongVm
@{
    Layout = null;
    var listHangHoa = ViewData["ListHangHoa"] as SelectList;
    var lstUser = ViewData["ListUser"] as SelectList;
    var lsThuocTinhHH = ViewData["ListThuocTinh"] as List<ThuocTinhHangHoaVm>;
    var strTTHH = JsonConvert.SerializeObject(lsThuocTinhHH);
}
<div>
    <form asp-action="Edit" asp-controller="Loan" class="frmHD" data-name="ajaxFormHopDong">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.HD_Loai)
        <div class="info-hd-header">
            <i class="fa fa-user"></i> Thông tin khách hàng
        </div>
        <div class="row mb-3">
            <label class="control-label col-md-2">Khách hàng </label>
            <div class="col-md-10">
                <label><input type="radio" name="CustomerType" value="NewCustomer" /> Khách hàng mới</label>
                <label><input type="radio" name="CustomerType" checked value="NewCustomer" /> Khách hàng cũ</label>
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="TenKhachHang" class="control-label col-md-2"></label>
            <div class="col-md-3">
                <input asp-for="TenKhachHang" class="form-control" />
                <span asp-validation-for="TenKhachHang" class="text-danger"></span>
            </div>
            <label asp-for="HD_MaTemp" class="control-label col-md-2"></label>
            <div class="col-md-3">
                <input asp-for="HD_MaTemp" class="form-control" />
                <span asp-validation-for="HD_MaTemp" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="CMND" class="control-label col-md-2"></label>
            <div class="col-md-3">
                <input asp-for="CMND" class="form-control" />
            </div>
            <label asp-for="SDT" class="control-label col-md-2"></label>
            <div class="col-md-3">
                <input asp-for="SDT" class="form-control" />
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="CMND_NgayCap" class="control-label col-md-2"></label>
            <div class="col-md-3">
                <input asp-for="CMND_NgayCap" type="date" class="form-control" />
            </div>
            <label asp-for="CMND_NoiCap" class="control-label col-md-2"></label>
            <div class="col-md-3">
                <input asp-for="CMND_NoiCap" class="form-control" />
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="DiaChi" class="control-label col-md-2"></label>
            <div class="col-md-3">
                <textarea asp-for="DiaChi" class="form-control" rows="3"></textarea>
            </div>
        </div>

        <div class="info-hd-header">
            <i class="fas fa-money-bill-alt"></i> Thông tin khoản vay
        </div>
        <div class="row mb-3">
            <label asp-for="HangHoaId" class="control-label col-md-2"></label>
            <div class="col-md-3">
                <select class="form-control" asp-for="HangHoaId" asp-items="@listHangHoa" onchange="getThuocTinhByTaiSan()">
                </select>
            </div>
            <label asp-for="TenTaiSan" class="control-label col-md-2"></label>
            <div class="col-md-3">
                <input asp-for="TenTaiSan" class="form-control" />
                <span asp-validation-for="TenTaiSan" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">

            <label asp-for="HD_TongTienVayBanDau" class="control-label col-md-2"></label>
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control money-textbox" value="@Model.HD_TongTienVayBanDau">
                    <input type="hidden" asp-for="HD_TongTienVayBanDau" />
                    <span class="input-group-text">VNĐ</span>
                </div>
                <span asp-validation-for="HD_TongTienVayBanDau" class="text-danger"></span>
            </div>

        </div>
        <div class="row mb-3">
            <label asp-for="HD_HinhThucLai" class="control-label col-md-2"></label>
            <div class="col-md-3">
                <select class="form-control" asp-for="HD_HinhThucLai" asp-items="@Html.GetEnumSelectList<EHinhThucLai>()" onchange="getMoTaHinhThucLai()">
                </select>
                <span asp-validation-for="HD_HinhThucLai" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label><input asp-for="HD_IsThuLaiTruoc" /> Thu lãi trước</label>
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="HD_TongThoiGianVay" class="control-label col-md-2 lblThoiGianVay"></label>
            <div class="col-md-3">
                <div class="input-group">
                    <input asp-for="HD_TongThoiGianVay" class="form-control">
                    <input type="hidden" asp-for="HD_TongTienVayBanDau" />
                    <span class="input-group-text thoiGianVay"></span>
                </div>
                <span asp-validation-for="HD_TongThoiGianVay" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="HD_KyLai" class="control-label col-md-2"></label>
            <div class="col-md-3">
                <div class="input-group">
                    <input asp-for="HD_KyLai" class="form-control">
                    <span class="input-group-text thoiGianVay"></span>
                </div>
                <span asp-validation-for="HD_KyLai" class="text-danger"></span>
            </div>
            <div class="col-md-5 moTaKyLai">
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="HD_LaiSuat" class="control-label col-md-2"></label>
            <div class="col-md-3">
                <div class="input-group">
                    <input asp-for="HD_LaiSuat" class="form-control">
                    <span class="input-group-text tyLeLai"></span>
                </div>
                <span asp-validation-for="HD_LaiSuat" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="HD_NgayVay" class="control-label col-md-2"></label>
            <div class="col-md-3">
                <input asp-for="HD_NgayVay" class="form-control" />
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="HD_GhiChu" class="control-label col-md-2"></label>
            <div class="col-md-3">
                <textarea asp-for="HD_GhiChu" rows="3" class="form-control"></textarea>
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="UserIdAssigned" class="control-label col-md-2"></label>
            <div class="col-md-3">
                <select class="form-control" asp-for="UserIdAssigned" asp-items="@lstUser">
                    <option value="">---Chọn nhân viên---</option>
                </select>
                <span asp-validation-for="UserIdAssigned" class="text-danger"></span>
            </div>
        </div>
        <div class="info-hd-header" style="cursor:pointer" data-bs-toggle="collapse" href="#collapseTaiSan" aria-expanded="true" aria-controls="collapseTaiSan">
            <i class="fa fa-motorcycle"></i> Thông tin tài sản <b>cấu hình tại đây</b>
        </div>
        <div class="collapse" id="collapseTaiSan">

        </div>
        <input type="hidden" name="ListThuocTinhHangHoa" id="ListThuocTinhHangHoa" />
        <div class="row mb-3">
            <label class="control-label col-md-2">&nbsp;</label>
            <div class="col-md-5">
                <button type="submit" class="btn btn-primary" data-modal="hd-modal">Lưu</button>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-warning">Đóng</button>
            </div>
        </div>
    </form>

</div>
