@model PagedResult<HopDongVm>
@{
    ViewData["Title"] = "Quản lý vay lãi";
}

<div class="row">
    <!-- table  Lastest Tickets -->
    <div class="col-12 ">
        <div class="card shadow h-100 mb-4 ">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="m-0 font-weight-bold">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <div class="asyncPartial" data-url="@Url.Action("ReportHeader")"></div>
                <div class="row mb-2">
                    <div class="col-md-12 d-flex">
                        <button type="button" class="btn btn-primary btn-sm addEditHD" data-id="0" data-url="@Url.Action("Create","Loan")">Thêm mới</button>
                        <form action="@Url.Action("Export","HopDong")" method="post">
                            <input type="hidden" name="loaiHD" value="@ELoaiHopDong.Vaylai" />
                            <input type="hidden" class="form-control" name="info" value="@Context.Request.Query["info"]">
                            <input type="hidden" class="form-control" name="from" value="@Context.Request.Query["from"]">
                            <input type="hidden" class="form-control" name="to" value="@Context.Request.Query["to"]">
                            <input type="hidden" class="form-control" name="status" value="@Context.Request.Query["status"]">

                            <button type="submit" id="btnExportExcel" class="btn btn-info btn-sm mx-sm-3"> <i class="fas fa-file-export"></i> Xuất Excel</button>
                        </form>
                        <button type="button" class="btn btn-primary btn-sm mx-sm-1" onclick="chonMauHopDongLoan()">Chọn mẫu hợp đồng</button>
                    </div>
                </div>
                <form asp-action="Index" id="frmSearch" method="get" class="form-inline">
                    <div class="mb-3">
                        <input type="text" class="form-control" name="info" value="@Context.Request.Query["info"]" placeholder="Tìm kiếm mã HĐ, Tên KH...">
                    </div>
                    <div class="mb-3">
                        <input type="date" class="form-control" name="from" value="@Context.Request.Query["from"]">
                    </div>
                    <div class="mb-3">
                        <input type="date" class="form-control" name="to" value="@Context.Request.Query["to"]">
                    </div>
                    <div class="mb-3">
                        @Html.DropDownList("status", Html.GetEnumSelectList<EHopDong_VayLaiStatusFilter>(), "---Tất cả---", new { @class = "form-control" })
                    </div>
                    <div class="mb-2">
                        <div class="col-md-12 d-flex">
                            <button type="submit" class="btn btn-primary btn-sm mb-2"> <i class="fas fa-search me-2"></i> Tìm kiếm</button>
                            <a asp-action="Index" class="btn btn-success btn-sm mx-sm-1 mb-2">
                                <i class="fas fa-sync-alt me-2"></i> Reset
                            </a>
                        </div>
                    </div>
                </form>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">
                                    #
                                </th>
                                <th scope="col">
                                    Mã HĐ
                                </th>
                                <th scope="col">
                                    Khách Hàng
                                </th>
                                <th scope="col">
                                    Tài sản
                                </th>
                                <th scope="col">
                                    VNĐ
                                </th>
                                <th scope="col">
                                    Ngày vay
                                </th>
                                <th scope="col">
                                    Lãi đã đóng
                                </th>
                                <th scope="col">
                                    Nợ cũ
                                </th>
                                <th scope="col">
                                    Lãi đến hôm nay
                                </th>
                                <th scope="col">
                                    Ngày phải đóng lãi
                                </th>
                                <th scope="col">
                                    Tình trạng
                                </th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Items.Count > 1)
                            {
                                int idx = ((Model.PageNumber - 1) * Model.PageSize + 1);
                                var index = 1;
                                foreach (var item in Model.Items)
                                {
                                    if (index <= Model.TotalItemCount)
                                    {
                                        <tr>
                                            <td>@idx</td>
                                            <td>@item.HD_Ma</td>
                                            <td>
                                                <p class="addEditHD hd_tenkhachang" data-id="@item.Id" data-url="@Url.Action("Edit", "Loan")">@item.TenKhachHang</p>
                                                <p class="font-12"><i class="fas fa-phone-alt"></i> @item.SDT</p>
                                            </td>
                                            <td>@item.TenTaiSan</td>
                                            <td>
                                                @item.HD_TongTienVayBanDau.ToString("N0")
                                                <p class="hd_laisuat">@item.TyLeLai</p>
                                            </td>
                                            <td>
                                                @item.HD_NgayVay.ToString("dd/MM/yyyy")
                                                <p>(@item.TongSoNgayVay ngày)</p>
                                            </td>
                                            <td class="text-end">@item.TongTienLaiDaThanhToan.ToString("N0")</td>
                                            <td class="text-end">@item.TienNo.ToString("N0")</td>
                                            <td class="text-end">@item.TienLaiToiNgayHienTai.ToString("N0")</td>
                                            <td>@item.HD_NgayVay.ToString("dd/MM/yyyy")</td>
                                            <td>
                                                @if (item.HD_Status == (byte)EHopDong_CamDoStatusFilter.QuaHan || item.HD_Status == (byte)EHopDong_CamDoStatusFilter.DenNgayChuocDo)
                                                {
                                                    <span class="badge badge-red" style="color: red; font-weight: bold;">@item.StatusName</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-primary" style="color: #0061f2; font-weight: bold;">@item.StatusName</span>
                                                }

                                            </td>
                                            <td width="140" class="text-center">
                                                @if (item.HD_Status == (byte)EHopDong_CommonStatusFilter.DaXoa || item.HD_Status == (byte)EHopDong_CommonStatusFilter.DaThanhLy || item.HD_Status == (byte)EHopDong_CommonStatusFilter.KetThuc)
                                                {
                                                    <button class="btn btn-sm btn-info m-1 detaileHD" type="button" data-tab="tab-history" data-id="@item.Id" data-url="@Url.Action("Detail", "Loan")" title="Lịch sử">
                                                        <i class="fas fa-chart-line"></i>
                                                    </button>
                                                    if (item.HD_Status == (byte)EHopDong_CommonStatusFilter.DaThanhLy)
                                                    {

                                                        <button class="btn btn-sm btn-danger m-1" type="button" data-title="Bạn có chắc chắn muốn ẩn hợp đồng?" data-href="@Url.Action("AnHopDong", "HopDong", new { id = item.Id })" title="Ẩn hợp đồng">
                                                            <i class="fas fa-key"></i>
                                                        </button>
                                                    }
                                                    if (item.HD_Status == (byte)EHopDong_CommonStatusFilter.KetThuc)
                                                    {
                                                        <button class="btn btn-sm btn-success m-1" type="button" data-bs-toggle="btn-confirm" data-title="Bạn có chắc chắn muốn mở lại hợp đồng?" data-href="@Url.Action("MoLaiHopDong", "HopDong", new { id = item.Id })" title="Mở lại hợp đồng">
                                                            <i class="fas fa-unlock"></i>
                                                        </button>
                                                        <button class="btn btn-sm btn-danger m-1" type="button" data-bs-toggle="btn-confirm" data-title="Bạn có chắc chắn muốn ẩn hợp đồng?" data-href="@Url.Action("AnHopDong", "HopDong", new { id = item.Id })" title="Ẩn hợp đồng">
                                                            <i class="fas fa-key"></i>
                                                        </button>
                                                    }
                                                }
                                                else
                                                {
                                                    <button class="btn btn-sm btn-secondary detaileHD m-1" type="button" data-id="@item.Id" data-url="@Url.Action("Detail", "Loan")" title="Đóng lãi">
                                                        <i class="fas fa-coins"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-danger m-1" type="button" data-bs-toggle="btn-confirm" data-title="Bạn có chắc chắn muốn xóa hợp đồng?" data-href="@Url.Action("Delete", "Loan", new { id = item.Id })" title="Xóa hợp đồng">
                                                        <i class="fas fa-trash-alt fa-fw"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-info detaileHD m-1" data-tab="tab-chuocdo" type="button" data-id="@item.Id" data-url="@Url.Action("Detail", "Loan")" title="Chuộc đồ">
                                                        <i class="fas fa-anchor"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-success detaileHD m-1" data-tab="tab-hengio" type="button" data-id="@item.Id" data-url="@Url.Action("Detail", "Loan")" title="Hẹn giờ khoản vay">
                                                        <i class="fas fa-clock"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-warning m-1" type="button" data-bs-toggle="btn-confirm" data-title="Bạn có chắc chắn muốn chuyển sang trạng thái chờ thanh lý?" data-href="@Url.Action("ChuyenTTChoThanhLy", "HopDong", new { hopDongId = item.Id })" title="Chuyển HĐ qua trạng thái chờ thanh lý">
                                                        <i class="fas fa-radiation fa-fw"></i>
                                                    </button>
                                                    @if (item.HD_Status == (byte)EHopDong_CamDoStatusFilter.ChoThanhLy)
                                                    {
                                                        <button class="btn btn-sm btn-secondary m-1" type="button" data-bs-toggle="btn-confirm" data-title="Bạn có chắc chắn muốn chuyển sang trạng thái đang vay?" data-href="@Url.Action("ChuyenTTVeDangVay", "HopDong", new { hopDongId = item.Id })" title="Chuyển HĐ từ chờ thanh lý về đang vay">
                                                            <i class="fas fa-heart fa-fw"></i>
                                                        </button>
                                                    }
                                                }

                                            </td>
                                        </tr>
                                    }

                                    idx++;
                                    index++;
                                }

                            }
                            else
                            {
                                <tr>
                                    <td colspan="13" class="text-center">Không có dữ liệu</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4" class="text-end text-danger font-weight-600">
                                    Tổng tiền
                                </td>
                                <td class="text-end text-danger font-weight-600">@Model.Items.LastOrDefault()?.HD_TongTienVayBanDau.ToString("N0")</td>
                                <td class="text-end text-danger"></td>
                                <td class="text-end text-danger font-weight-600">@Model.Items.LastOrDefault()?.TongTienLaiDaThanhToan.ToString("N0")</td>
                                <td class="text-end text-danger font-weight-600">@Model.Items.LastOrDefault()?.TienNo.ToString("N0")</td>
                                <td class="text-end text-danger font-weight-600">@Model.Items.LastOrDefault()?.TienLaiToiNgayHienTai.ToString("N0")</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                @if (Model.PageCount > 1)
                {
                    <div>
                        @await Html.PartialAsync("_Pager", new PagedResultBase()
                    {
                    PageNumber = Model.PageNumber,
                    PageSize = Model.PageSize,
                    TotalItemCount = Model.TotalItemCount,
                    PageUrl = Url.Action("Index")
                    })
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/admin/js/loan.js"></script>
    <script>
        $(".loan-nav").addClass("active");
    </script>
}
    <div class="modal fade" id="hd-modal" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lager" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="print-loan-modal" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lager" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>