@model DetailShopVM
@{
    ViewData["Title"] = "Chi tiết cửa hàng";
}
<style>
    .tr-border-bottom {
        border-bottom: 0.07rem dashed #ebedf2;
    }

    .text-purple {
        color: #716aca;
    }

    .bg-purple {
        color: #ffffff;
        background: #716aca;
    }
</style>
<div class="row">
    <div class=" col-lg-4 col-md-6 col-sm-12 mt-5">
        <div class="card shadow h-100 mb-4 ">
            <div class="card-header d-flex justify-content-between align-items-center bg-green">
                <h3 class="m-0 font-weight-bold text-white">Thông tin vốn</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-borderless">
                        <thead>
                            <tr class="tr-border-bottom">
                                <th> Vốn đầu tư</th>
                                <th class="text-success">@Model.ThongTinVon.VonDauTu.ToString("N0")</th>
                            </tr>

                            <tr class="tr-border-bottom">
                                <th> Quỹ tiền mặt</th>
                                <th class="text-success"> @Model.ThongTinVon.QuyTienMat.ToString("N0")</th>
                            </tr>

                            <tr class="tr-border-bottom text-danger">
                                <th> Tiền đang cho vay</th>
                                <th>@Model.ThongTinVon.TienDangChoVay.ToString("N0")</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mt-5">
        <div class="card shadow h-100 mb-4 ">
            <div class="card-header d-flex justify-content-between align-items-center bg-blue">
                <h3 class="m-0 font-weight-bold text-white">Thông tin hợp đồng</h3>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-borderless">
                        <thead>
                            <tr class="tr-border-bottom">
                                <th> Hợp đồng mở</th>
                                <th class="text-primary">@Model.ThongTinHopDong.HopDongMo</th>
                            </tr>

                            <tr class="tr-border-bottom">
                                <th> Hợp dồng đóng</th>
                                <th class="text-primary"> @Model.ThongTinHopDong.HopDongDong</th>
                            </tr>

                            <tr class="tr-border-bottom ">
                                <th> Tổng số hợp đồng</th>
                                <th class="text-primary">@Model.ThongTinHopDong.TongSoHopDong</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mt-5">
        <div class="card shadow h-100 mb-4 ">
            <div class="card-header d-flex justify-content-between align-items-center bg-warning">
                <h3 class="m-0 font-weight-bold text-black">Thu/ Chi</h3>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-borderless">
                        <thead>
                            <tr class="tr-border-bottom">
                                <th> Tổng tiền chi</th>
                                <th class="text-warning">@Model.ThuChi.TongTienChi.ToString("N0")</th>
                            </tr>

                            <tr class="tr-border-bottom">
                                <th> Tổng tiền thu</th>
                                <th class="text-warning"> @Model.ThuChi.TongTienThu.ToString("N0")</th>
                            </tr>

                            <tr class="tr-border-bottom text-danger">
                                <th> Tổng tiền khách nợ</th>
                                <th>@Model.ThuChi.TongTienKhachNo.ToString("N0")</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>

    @foreach (var item in Model.HopDongs)
    {
        <div class="col-lg-4 col-md-6 col-sm-12 mt-5">
            <div class="card shadow h-100 mb-4 ">
                <div class="card-header d-flex justify-content-between align-items-center bg-purple">
                    <h3 class="m-0 font-weight-bold text-white">@item.Ten</h3>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-borderless">
                            <thead>
                                <tr class="tr-border-bottom">
                                    <th> Số hợp đồng</th>
                                    <th class="text-purple">@item.SoHD</th>
                                </tr>

                                <tr class="tr-border-bottom">
                                    <th> Hợp đồng đóng</th>
                                    <th class="text-purple"> @item.HopDongDong</th>
                                </tr>

                                <tr class="tr-border-bottom ">
                                    <th> Hợp đồng mở</th>
                                    <th class="text-purple">@item.HopDongMo</th>
                                </tr>
                                <tr class="tr-border-bottom text-danger">
                                    <th> Tiền cho vay</th>
                                    <th>@item.TienChoVay.ToString("N0")</th>
                                </tr>
                                <tr class="tr-border-bottom text-danger">
                                    <th> Lãi dự kiến</th>
                                    <th>@item.LaiDuKien.ToString("N0")</th>
                                </tr>
                                <tr class="tr-border-bottom text-danger">
                                    <th> Lãi đã thu</th>
                                    <th>@item.LaiDaThu.ToString("N0")</th>
                                </tr>
                                <tr class="tr-border-bottom text-danger">
                                    <th> Tiền khách nợ</th>
                                    <th>@item.TienKhachNo.ToString("N0")</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="col-lg-4 col-md-6 col-sm-12 mt-5">
        <div class="card shadow h-100 mb-4 ">
            <div class="card-header d-flex justify-content-between align-items-center bg-primary">
                <h3 class="m-0 font-weight-bold text-white">Thông tin lãi</h3>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-borderless">
                        <thead>
                            <tr class="tr-border-bottom">
                                <th> Lãi dự kiến</th>
                                <th class="text-info">@Model.ThongTinLai.LaiDuKien.ToString("N0")</th>
                            </tr>

                            <tr class="tr-border-bottom">
                                <th> Lãi đã thu</th>
                                <th class="text-info"> @Model.ThongTinLai.LaiDaThu.ToString("N0")</th>
                            </tr>


                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    <script>
        $(".detailshop-nav").addClass("active");
    </script>
}