<!-- Navbar Brand-->
<!-- * * Tip * * You can use text or an image for your navbar brand.-->
<!-- * * * * * * When using an image, we recommend the SVG format.-->
<!-- * * * * * * Dimensions: Maximum height: 32px, maximum width: 240px-->
@{
    var currentShop = User.Claims.FirstOrDefault(x => x.Type == "TenCuaHang")?.Value ?? "Chọn cửa hàng";
}
<a class="navbar-brand" href="@Url.Action("Index", "Home")">
    Admin Dashboard
</a>

<!-- Sidenav Toggle Button-->
<button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 mr-lg-2" id="sidebarToggle"><i data-feather="menu"></i></button>
<div class="menu-item" id="choose-shop">
    <a href="#"><i data-feather="airplay"></i> @currentShop</a>
    <div class="list-shop asyncPartial" data-url="@Url.Action("GetShopByUser","CuaHang")"></div>
</div>
<div class="menu-item ">
    <a href="@Url.Action("Index","FeedBack")"><i data-feather="message-square"></i> Góp ý</a>

</div>


<ul class="navbar-nav align-items-center ml-auto">
    <div class="menu-item  ">
        <a href="@Url.Action("ReportCustomer","Baocao")">
            <i class="fa fa-user fa-lg" aria-hidden="true"></i>
        </a>
    </div>
    <div class="menu-item">
        <a href="@Url.Action("AlarmDate","CanhBao")">
            <i class="fa fa-clock fa-lg" aria-hidden="true"></i>
            <span class="badge badge-red">4</span>
        </a>
    </div>
    <div class="menu-item">
        <a href="@Url.Action("Capital","CanhBao")">
            <i class="fa fa-gem"></i>
            <span class="badge badge-red">4</span>
        </a>
    </div>
    <div class="menu-item ">
        <a href="@Url.Action("Pawn","CanhBao")">
            <i class="fa fa-motorcycle fa-lg" aria-hidden="true"></i>
            <span class="badge badge-red">4</span>
        </a>
    </div>
    <div class="menu-item ">
        <a href="@Url.Action("Loan","CanhBao")">
            <i class="fa fa-money-bill fa-lg"></i>
            <span class="badge badge-red">4</span>
        </a>
    </div>
    <div class="menu-item ">
        <a href="@Url.Action("Installment","CanhBao")">
            <i class="fab fa-bitbucket fa-lg"></i>
            <span class="badge badge-red">4</span>
        </a>
    </div>
    @await Component.InvokeAsync("UserInfoTopBar")
</ul>
