@model PagedResult<HopDongVm>
@{
    ViewData["Title"] = "Cảnh báo cầm đồ";
}
<style id="table_style" type="text/css">
    table
    {
        border: 1px solid #ccc;
        border-collapse: collapse;
    }
    table th
    {
        background-color: #F7F7F7;
        color: #333;
        font-weight: bold;
    }
    table th, table td
    {
        padding: 4px;
        border: 1px solid #ccc;
    }
</style>

<div class="row">
    <!-- table  Lastest Tickets -->
    <div class="col-12 ">
        <div class="card shadow h-100 mb-4 ">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="m-0 font-weight-bold">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <div class="row ">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            #
                                        </th>
                                        <th scope="col">
                                            Mã HĐ
                                        </th>
                                        <th scope="col">
                                            Khách hàng
                                        </th>
                                        <th scope="col">
                                            Địa chỉ
                                        </th>
                                        <th scope="col">
                                            Tài sản
                                        </th>
                                        <th scope="col">
                                            Nợ cũ
                                        </th>
                                        <th scope="col">
                                            Tiền lãi
                                        </th>
                                        <th scope="col">
                                            Tiền gốc
                                        </th>
                                        <th scope="col">
                                            Tổng tiền
                                        </th>
                                        <th scope="col">
                                            Lý do
                                        </th>
                                        <th scope="col">
                                            Trạng thái
                                        </th>
                                        <th scope="col">
                                            Chức năng
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model != null)
                                        {
                                            var count = 1;
                                            foreach (var item in Model.Items)
                                            {
                                                if (item.Id != default)
                                                {
                                                    <tr>
                                                        <td>@count</td>
                                                        <td>@item.HD_Ma</td>
                                                        <td>@item.TenKhachHang</td>
                                                        <td>@item.DiaChi</td>
                                                        <td>@item.TenTaiSan</td>
                                                        <td>@item.TienNo</td>
                                                        <td>@item.TongTienLai</td>
                                                        <td>@item.TienNo</td>
                                                        <td>@item.TongTienVayHienTai</td>
                                                        <td>@item.HD_GhiChu</td>
                                                        <td>@item.HD_Status</td>
                                                        <td></td>
                                                    </tr>
                                                    count++;
                                                }

                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>

    </script>
}