@using BaseSource.Shared.Enums
@model PagedResult<HopDong_AlarmLogVm>
@{
    ViewData["Title"] = "Thông báo hẹn giờ";
}


<div class="row">
    <!-- table  Lastest Tickets -->
    <div class="col-12 ">
        <div class="card shadow h-100 mb-4 ">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="m-0 font-weight-bold">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <div class="row ">
                    <div class="col-md-12">

                        <div class="mb-3">
                            <form class="form-inline">
                                <div class="mb-3">
                                    <select class="form-control" id="ddlTypeAlam">
                                        <option value="">Tất cả</option>
                                        <option value="@ELoaiHopDong.Camdo">Cầm Đồ</option>
                                        <option value="@ELoaiHopDong.Vaylai">Vay Lãi</option>
                                        <option value="@ELoaiHopDong.VayHo">Bát Họ</option>
                                    </select>
                                </div>
                            </form>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            #
                                        </th>
                                        <th scope="col">
                                            Cửa hàng
                                        </th>
                                        <th scope="col">
                                            Mã HĐ
                                        </th>
                                        <th scope="col">
                                            Loại hình
                                        </th>
                                        <th scope="col">
                                            Ngày hẹn
                                        </th>
                                        <th scope="col">
                                            Nội dung
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        var count = 1;
                                        @foreach (var item in Model.Items)
                                        {
                                            
                                            <tr>
                                                <td>@count</td>
                                                <td>@item.CuaHang</td>
                                                <td>@item.MaHopDong</td>
                                                <td>@item.Loai.GetDisplayName()</td>
                                                <td>@item.AlarmDate</td>
                                                <td>@item.Note</td>
                                            </tr>
                                           
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

<script>

</script>
}