@model PagedResult<HopDongVm>
@{
    ViewData["Title"] = "Lịch nhắc thu tiền lãi";
}


<div class="row">
    <!-- table  Lastest Tickets -->
    <div class="col-12 ">
        <div class="card shadow h-100 mb-4 ">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="m-0 font-weight-bold">Cảnh báo góp vốn</h3>
            </div>
            <div class="card-body">
                <div class="row ">
                    <div class="col-md-12">

                        <div class="mb-3">
                            <div class="d-flex">
                                <form action="@Url.Action("Export_Loan","CanhBao")" method="post">
                                    <div class="mb-2">
                                        <button type="submit" class="btn btn-success"><i data-feather="printer"></i> Excel</button>
                                    </div>
                                </form>
                                <button id="printloan" class="btn btn-warning mb-2"> <i data-feather="printer"></i> In</button>

                            </div>
                            <form class="form-inline">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="search" placeholder="Tìm kiếm mã HĐ, Tên khách hàng...">
                                </div>
                                <div class="mb-3">
                                    <select class="form-control">
                                        <option>Tất cả</option>
                                        <option>Tất cả</option>
                                        <option>Tất cả</option>
                                    </select>
                                </div>
                            </form>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            #
                                        </th>
                                        <th scope="col">
                                            Mã HĐ
                                        </th>
                                        <th scope="col">
                                            Khách hàng
                                        </th>
                                        <th scope="col">
                                            Địa chỉ
                                        </th>
                                        <th scope="col">
                                            Nợ cũ
                                        </th>
                                        <th scope="col">
                                            Tiền lãi
                                        </th>
                                        <th scope="col">
                                            Tiền gốc
                                        </th>
                                        <th scope="col">
                                            Tổng tiền
                                        </th>
                                        <th scope="col">
                                            Lý do
                                        </th>
                                        <th scope="col">
                                            Trạng thái
                                        </th>
                                        <th scope="col">
                                            Chức năng
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model != null)
                                        {
                                            var count = 1;
                                            foreach (var item in Model.Items)
                                            {
                                                if (item.Id != default)
                                                {
                                                    <tr>
                                                        <td>@count</td>
                                                        <td>@item.HD_Ma</td>
                                                        <td>@item.TenKhachHang</td>
                                                        <td>@item.DiaChi</td>
                                                        <td>@item.TenTaiSan</td>
                                                        <td>@item.TienNo</td>
                                                        <td>@item.TongTienLai</td>
                                                        <td>@item.TienNo</td>
                                                        <td>@item.TongTienVayHienTai</td>
                                                        <td>@item.HD_GhiChu</td>
                                                        <td>@item.HD_Status</td>
                                                        <td></td>
                                                    </tr>
                                                    count++;
                                                }

                                            }
                                        }

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/admin//js/CanhBao/printCapital.js" asp-append-version="true">
    </script>
}