@model BaseSource.ViewModels.Admin.ThuChi.CreateChiHoatDongVm
@{
    ViewData["Title"] = "Chi tiêu";
    var dataExpenses = ViewBag.Incomes as PagedResult<CuaHang_TransactionLogAdminVm>;
}


<div class="row">
    <!-- table  Lastest Tickets -->
    <div class="col-12 ">
        <div class="card shadow h-100 mb-4 ">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="m-0 font-weight-bold">@User.Claims.FirstOrDefault(x => x.Type == "TenCuaHang")?.Value</h3>
            </div>
            <div class="card-body">
                <div class="row mt-5">
                    <div class="col-md-5">
                        <h5><i data-feather="dollar-sign"></i> Nhập phiếu chi tiền</h5>

                        <hr />
                        <form asp-action="CreateExpense" id="frmExpense">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-5 col-form-label ">Người nhận <span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <div class="input-group ">
                                        <input asp-for="Customer" type="text" class="form-control " placeholder="Nhập tên người nhận tiền">

                                    </div>
                                    <span asp-validation-for="Customer" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-5 col-form-label">Số tiền <span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <div class="input-group ">
                                        <input asp-for="Amount" type="number" value="0" class="form-control " placeholder="0">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">VNĐ</div>
                                        </div>
                                    </div>
                                    <span asp-validation-for="Amount" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-5 col-form-label">Loại phiếu <span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <div class="input-group ">
                                        <select class=" selectpicker form-control" data-live-search="true" name="type">
                                            @foreach (EPhieuChi_ActionType item in Enum.GetValues<EPhieuChi_ActionType>())
                                            {
                                                @if (item != EPhieuChi_ActionType.HuyPhieuChi)
                                                {
                                                    <option value="@((int)item)" data-tokens="@item.GetEnumDisplayName()">@item.GetEnumDisplayName()</option>
                                                }

                                            }
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-5 col-form-label">Lý do chi tiền <span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <div class="input-group ">
                                        <textarea asp-for="Note" type="text" class="form-control" placeholder="Nhập lý do chi tiền" rows="5"></textarea>
                                    </div>
                                    <span asp-validation-for="Note" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-5 col-form-label"></label>
                                <div class="col-sm-7">
                                    <button type="submit" class="btn btn-danger btn-sm my-1"><i data-feather="file-text"></i> Chi tiền</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-7">
                        <h5><i data-feather="file-text"></i> Lịch sử lập phiếu chi</h5>
                        <hr />
                        <div class="">
                            <form class="form-inline" action="/admin/QuanlyThuChi/PageFilterExpense" id="form-Search" method="get">
                                <div class="form-group mb-2">
                                    <input type="text" class="form-control"  name="customer" placeholder="Tìm kiếm">
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    <input type="date" class="form-control" name="from" >
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    <input type="date" class="form-control" name="to">
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    <select class=" selectpicker form-control" data-live-search="true" name="type">
                                        <option value="" data-tokens="Tất cả loại phiếu">Tất cả loại phiếu</option>
                                        @foreach (EPhieuChi_ActionType item in Enum.GetValues<EPhieuChi_ActionType>())
                                        {
                                            @if (item != EPhieuChi_ActionType.HuyPhieuChi)
                                            {
                                                <option value="@((int)item)" data-tokens="@item.GetEnumDisplayName()">@item.GetEnumDisplayName()</option>
                                            }

                                        }
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary mb-2">Tìm kiếm</button>
                            </form>
                        </div>
                        <div class="table-responsive">
                            @await Html.PartialAsync("_PageExpense", dataExpenses)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="DeleteExpense" method="post" id="frmDelete">
                <input name="id"  hidden value=""/>
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Xóa Phiếu chi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Bạn có chắc chắn muốn hủy phiếu chi với số tiền
                        <strong class="text-amount">1,000</strong>  cho nhân viên <strong class="text-username">usertest1234</strong> ?
                    </p>
                    <p> Bạn sẽ không thể khôi phục phiếu chi này nữa!</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Đồng ý</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                </div>
            </form>

        </div>
    </div>
</div>
@section Scripts{

    <script src="~/admin/libs/bootstrap-select/js/popper.min.js"></script>
    <script src="~/admin/libs/bootstrap-select/js/bootstrap.min.js"></script>
    <script src="~/admin/libs/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script>
        $(".expense-nav").addClass("active");
    </script>
}