@using BaseSource.ViewModels.BaoCao
@model ProfitVM
@{
    ViewData["Title"] = "Tổng kết lợi nhuận";
}

<style>
    .border-right {
        border-right: 1px solid #ebedf2;
        border-bottom: 1px solid #ebedf2;
    }
</style>
<div class="row">
    <!-- table  Lastest Tickets -->
    <div class="col-12 ">
        <div class="card shadow h-100 mb-4 ">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="m-0 font-weight-bold">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <div class="row ">
                    <div class="col-md-12">
                        <div class="row mb-5">
                            <div class="col-md-6 text-center border-right">
                                <h4>HỢP ĐỒNG MỚI</h4>
                                <h3 class="text-primary">@Model.HDMoi</h3>
                            </div>
                            <div class="col-md-6 text-center border-right">
                                <h4>LỢI NHUẬN</h4>
                                <h3 class="text-primary">@Model.LoiNhuan</h3>
                            </div>
                        </div>
                        <div class="mb-3">
                            <form class="form-inline">
                                <div class="mb-3">
                                    <input type="date" name="from" value="@Context.Request.Query["from"]" class="form-control" id="from">
                                </div>
                                <div class="mb-3">
                                    <input type="date" name="to" value="@Context.Request.Query["to"]" class="form-control" id="to">
                                </div>
                                <button type="submit" class="btn btn-primary mb-2"><i data-feather="search"></i> Tìm kiếm</button>
                            </form>
                        </div>
                        <form action="@Url.Action("Export_Profit","Export")" method="post">
                            <div class="mb-2">
                                <input type="hidden" class="form-control" name="from" value="@Context.Request.Query["from"]">
                                <input type="hidden" class="form-control" name="to" value="@Context.Request.Query["to"]">
                                <button type="submit" class="btn btn-success"><i data-feather="printer"></i> Excel</button>
                            </div>
                        </form>

                        <div class="table-responsive">
                            <table class="table table-bordered m-table table-hover table-calendar table-report">
                                <thead style="background:#3f86c3; color: #ffffff;">
                                    <tr>
                                        <th width="100px" class="text-center" rowspan="2"> Hợp đồng </th>
                                        <th colspan="3" class="text-center"> Tạo mới/cũ </th>
                                        <th class="text-center" colspan="5"> Theo trạng thái </th>
                                        <th class="text-center" colspan="4"> Thông tin tiền </th>
                                    </tr>
                                    <tr class="text-end">
                                        <th> Tổng </th>
                                        <th> Mới </th>
                                        <th> Cũ </th>
                                        <th> Đóng </th>
                                        <th> Trả lãi </th>
                                        <th> Nợ lãi </th>
                                        <th> Quá hạn </th>
                                        <th> T.Lý </th>
                                        <th> Tổng tiền cho vay </th>
                                        <th> Đang cho vay </th>
                                        <th> Lợi nhuận </th>
                                        <th> Khách nợ </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.profitVMDetails != null)
                                    {
                                        var idx = 1;
                                        foreach (var item in Model.profitVMDetails)
                                        {
                                            <tr>
                                                <td align="left" class="align-middle">@item.Loai</td>
                                                <td align="right" class="align-middle">@item.Tong</td>
                                                <td align="right" class="align-middle">@item.Moi</td>
                                                <td align="right" class="align-middle">@item.Cu</td>
                                                <td align="right" class="align-middle">@item.Dong</td>
                                                <td align="right" class="align-middle">@item.TraLai</td>
                                                <td align="right" class="align-middle">@item.NoLai</td>
                                                <td align="right" class="align-middle">@item.QuaLai</td>
                                                <td align="right" class="align-middle">@item.ThanhLy</td>
                                                <td align="right" class="align-middle text-danger">@item.TongTienChoVay</td>
                                                <td align="right" class="align-middle text-danger">@item.DangChoVay</td>
                                                <td align="right" class="align-middle text-danger">@item.LoiNhuan</td>
                                                <td align="right" class="align-middle  text-danger">@item.KhachNo</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        $(".expense-nav").addClass("active");
        $('.select-type').select2();
    </script>
}