@using BaseSource.ViewModels.BaoCao
@model List<HD_PaymentLogReportVm>
@{
    ViewData["Title"] = "Chi tiết tiền lãi";
      var lstUser = ViewData["ListUser"] as SelectList;
}


<div class="row">
    <!-- table  Lastest Tickets -->
    <div class="col-12 ">
        <div class="card shadow h-100 mb-4 ">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="m-0 font-weight-bold">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <div class="row ">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <form class="form-inline">
                                <div class="mb-3">
                                    <input type="date" name="from" value="@Context.Request.Query["from"]" class="form-control" id="from">
                                </div>
                                <div class="mb-3">
                                    <input type="date" name="to" value="@Context.Request.Query["to"]" class="form-control" id="to">
                                </div>
                                <div class="mb-3">
                                    @Html.DropDownList("loaihopdong", Html.GetEnumSelectList<ELoaiHopDong>(), "---Tất cả---", new { @class = "form-control" })
                                </div>
                                <div class="mb-3">
                                     @Html.DropDownList("user", lstUser, "---Tất cả---", new { @class = "form-control" })
                                </div>
                                <button type="submit" class="btn btn-primary mb-2">Tìm kiếm</button>
                            </form>
                            <form action="@Url.Action("Export_ReceiveInterest","BaoCao")" method="post">
                                <div class="mb-2">
                                    <input type="hidden" class="form-control" name="from" value="@Context.Request.Query["from"]">
                                    <input type="hidden" class="form-control" name="to" value="@Context.Request.Query["to"]">
                                    <input type="hidden" class="form-control" name="loaihopdong" value="@Context.Request.Query["loaihopdong"]">
                                    <input type="hidden" class="form-control" name="user" value="@Context.Request.Query["user"]">
                                    <button type="submit" class="btn btn-success mb-2 ms-2"><i data-feather="file-text"></i> Excel</button>
                                </div>
                            </form>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            #
                                        </th>
                                        <th scope="col">
                                            Mã HĐ
                                        </th>
                                        <th scope="col">
                                            Tên khách hàng
                                        </th>
                                        <th scope="col">
                                            Tên hàng
                                        </th>
                                        <th scope="col">
                                            Tiền vay
                                        </th>
                                        <th scope="col">
                                            Người giao dịch
                                        </th>
                                        <th scope="col">
                                            Ngày giao dịch
                                        </th>
                                        <th scope="col">
                                            Tiền lãi
                                        </th>
                                        <th scope="col">
                                            Tiền khác
                                        </th>
                                        <th scope="col">
                                            Tổng lãi
                                        </th>
                                        <th scope="col">
                                            Loại GD
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    @if (Model != null)
                                    {
                                        var idx = 1;
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@idx</td>
                                                <td>@item.MaHD</td>
                                                <td>@item.TenKhachHang</td>
                                                <td>@item.TenHang</td>
                                                <td>@item.TienVay</td>
                                                <td>@item.NguoiGiaoDich</td>
                                                <td>@item.NgayGiaoDich?.ToString("dd/MM/yyy")</td>
                                                <td class="text-primary">@item.TienLai</td>
                                                <td class="text-primary">@item.TienKhac</td>
                                                <td class="text-primary">@item.TongLai</td>
                                                <td>@item.LoaiGiaoDich</td>
                                            </tr>
                                        }
                                    }
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        $(".expense-nav").addClass("active");
        $('.select-type').select2();
    </script>
}