@using BaseSource.ViewModels.BaoCao
@using System.Globalization
@model ReportBalanceVM
@{
    ViewData["Title"] = "Tổng kết giao dịch";
    var lstUser = ViewData["ListUser"] as SelectList;
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
}


<div class="row">
    <!-- table  Lastest Tickets -->
    <div class="col-12 ">
        <div class="card shadow h-100 mb-4 ">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="m-0 font-weight-bold">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <div class="row ">
                    <div class="col-md-12">
                        <div class="d-flex">
                            <form action="@Url.Action("Export","BaoCao")" method="post">
                                <div class="mb-2">
                                    <input type="hidden" class="form-control" name="from" value="@Context.Request.Query["from"]">
                                    <input type="hidden" class="form-control" name="to" value="@Context.Request.Query["to"]">
                                    <input type="hidden" class="form-control" name="loaihopdong" value="@Context.Request.Query["loaihopdong"]">
                                    <input type="hidden" class="form-control" name="user" value="@Context.Request.Query["user"]">
                                    <button type="submit" class="btn btn-success"><i data-feather="printer"></i> Excel</button>
                                </div>
                            </form>
                            <button id="printreportblance" class="btn btn-warning mb-2"> <i data-feather="printer"></i> In</button>

                        </div>
                         <div class="mb-3">
                            <form class="form-inline">
                                <div class="mb-3">
                                    <input type="date" name="from" value="@Context.Request.Query["from"]" class="form-control" id="from">
                                </div>
                                <div class="mb-3">
                                    <input type="date" name="to" value="@Context.Request.Query["to"]" class="form-control" id="to">
                                </div>
                                <div class="mb-3">
                                    @Html.DropDownList("loaihopdong", Html.GetEnumSelectList<ELoaiHopDong>(), "---Tất cả---", new { @class = "form-control" })
                                </div>
                                <div class="mb-3">
                                    @Html.DropDownList("user", lstUser, "---Tất cả---", new { @class = "form-control" })
                                </div>
                                <button type="submit" class="btn btn-primary mb-2">Tìm kiếm</button>
                            </form>
                        </div>
                        <h5><i data-feather="file-text"></i>Bảng tổng kết giao dịch Từ ngày <i>@Context.Request.Query["from"] - @Context.Request.Query["to"]</i></h5>
                        <div class="progress" style="height: 4px;">
                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <div class="table-responsive">
                            <!--begin::Table-->
                            <table class="table">
                                <!--begin::Thead-->
                                <thead>
                                    <tr>
                                        <td class="font-weight-bold">Loại hình giao dịch</td>
                                        <td class="font-weight-bold ">Thu</td>
                                        <td class="font-weight-bold">Chi</td>
                                        <td class="font-weight-bold">Tổng cộng</td>
                                    </tr>
                                </thead>
                                <!--end::Thead-->
                                <!--begin::Tbody-->
                                <tbody>
                                    <tr>
                                        <td>
                                            <span class="">Tiền đầu ngày</span>
                                        </td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td class=" text-blue font-weight-bold lead"><span>@Model?.TienDauNgay.Total.ToString("#,###", cul.NumberFormat)</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="">Cầm Đồ</span>
                                        </td>
                                        <td><span class="text-blue lead">@Model?.CamDo.Thu.ToString("#,###", cul.NumberFormat)</span></td>
                                        <td><span class="lead">@Model?.CamDo.Chi.ToString("#,###", cul.NumberFormat)</span></td>
                                        <td class=" text-blue lead"><span>@Model?.CamDo.Total.ToString("#,###", cul.NumberFormat)</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="">Vay Lãi</span>
                                        </td>
                                        <td><span class="text-blue lead">@Model?.VayLai.Thu.ToString("#,###", cul.NumberFormat)</span></td>
                                        <td><span class="lead">@Model?.VayLai.Thu.ToString("#,###", cul.NumberFormat)</span></td>
                                        <td class="text-blue lead"><span>@Model?.VayLai.Total.ToString("#,###", cul.NumberFormat)</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="">Bát Họ</span>
                                        </td>
                                        <td><span class="text-blue lead">@Model?.BatHo.Thu.ToString("#,###", cul.NumberFormat)</span></td>
                                        <td><span class="lead">@Model?.BatHo.Chi.ToString("#,###", cul.NumberFormat)</span></td>
                                        <td class=text-blue lead"><span>@Model?.BatHo.Total.ToString("#,###", cul.NumberFormat)</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="">Thu Hoạt Động</span>
                                        </td>
                                        <td><span class="text-blue lead">@Model?.ThuHoatDong.Thu.ToString("#,###", cul.NumberFormat)</span></td>
                                        <td><span class="lead">@Model?.ThuHoatDong.Chi.ToString("#,###", cul.NumberFormat)</span></td>
                                        <td class="text-blue lead"><span>@Model?.ThuHoatDong.Total.ToString("#,###", cul.NumberFormat)</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="">Chi Hoạt Động</span>
                                        </td>
                                        <td><span class="text-blue lead">@Model?.ChiHoatDong.Thu.ToString("#,###", cul.NumberFormat)</span></td>
                                        <td><span class="lead">@Model?.ChiHoatDong.Chi.ToString("#,###", cul.NumberFormat)</span></td>
                                        <td class="text-blue lead"><span>@Model?.ChiHoatDong.Total.ToString("#,###", cul.NumberFormat)</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="">Nguồn Vốn</span>
                                        </td>
                                        <td><span class="text-blue lead">@Model?.NguonVon.Thu.ToString("#,###", cul.NumberFormat)</span></td>
                                        <td><span class="lead">@Model?.NguonVon.Chi.ToString("#,###", cul.NumberFormat)</span></td>
                                        <td class="text-blue lead"><span>@Model?.NguonVon.Total.ToString("#,###", cul.NumberFormat)</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="">Tiền mặt còn lại</span>
                                        </td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td class="text-blue font-weight-bold lead"><span>@Model?.TienMatConLai.Total.ToString("#,###", cul.NumberFormat)</span></td>
                                    </tr>
                                </tbody>
                                <!--end::Tbody-->
                            </table>
                            <!--end::Table-->
                        </div>
                        <h5><i data-feather="file-text"></i>Chi tiết giao dịch</h5>
                        <div class="progress" style="height: 4px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="table-responsive mt-3">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            #
                                        </th>
                                        <th scope="col">
                                            Loại hình
                                        </th>
                                        <th scope="col">
                                            Mã HĐ
                                        </th>
                                        <th scope="col">
                                            Người GD
                                        </th>
                                        <th scope="col">
                                            Khách hàng
                                        </th>
                                        <th scope="col">
                                            Ngày giao dịch
                                        </th>
                                        <th scope="col">
                                            Diễn Giải
                                        </th>
                                        <th scope="col">
                                            Đã thu
                                        </th>
                                        <th scope="col">
                                            Đã chi
                                        </th>
                                        <th scope="col">
                                            Ghi chú
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model?.GiaoDichs != null)
                                    {
                                        var idx = 1;

                                        foreach (var item in Model.GiaoDichs)
                                        {
                                            <tr>
                                                <td>@idx</td>
                                                <td>@item.LoaiHopDong</td>
                                                <td>@item.MaHopDong</td>
                                                <td>@item.NguoiGD</td>
                                                <td>@item.KhachHang</td>
                                                <td>@item.NgayGiaoDich.ToShortDateString()</td>
                                                <td>@item.DienDai</td>
                                                <td>@item.DaThu.ToString("#,###", cul.NumberFormat)</td>
                                                <td>@item.DaChi.ToString("#,###", cul.NumberFormat)</td>
                                                <td>@item.GhiChu</td>
                                            </tr>
                                            idx++;
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(".expense-nav").addClass("active");
        $('.select-type').select2();
    </script>
    <script src="~/admin/js/BaoCao/printReport.js" asp-append-version="true"></script>

}
