@model HopDongVm
@{
    Layout = null;
    string lblDisplayDebitOrOverMoney = "";
    string lblDisplayLoanDebit = "";
    var tienthuaHD = Model.TongTienDaThanhToan - Model.TongTienGhiNo;
    var tabActive = ViewData["TabActive"] as string;
    if (string.IsNullOrEmpty(tabActive))
    {
        tabActive = "tab-dongtienlai";
    }
}

<div class="row">
    <div class="col-md-6">
        <table class="table table-hover table-bordered table-detail-hd">
            <tbody>
                <tr id="trCusName">
                    <td colspan="3">
                        <span class="text-danger font-weight-bold" id="lblCusName">@Model.TenKhachHang</span>
                        <label id="lblCusPhone"> - <i class="fas fa-phone-alt" style="font-size:10px"></i><small> <i> @Model.SDT </i></small></label>
                        <span><i class="fas fas fa-map-marker-alt" style="font-size:10px"></i> @Model.DiaChi</span>
                    </td>
                </tr>
                  <tr>
                    <td><span class="font-weight-bold">Tiền đầu tư</span></td>
                  <td colspan="2" align="right"><span id="lblTotalMoney" class="lblTongTienVayHienTai">@Model.TongTienVayHienTai.ToString("N0")</span> VND</td>
                </tr>
                 <tr>
                    <td><span class="font-weight-bold">Lãi suất</span></td>
                    <td colspan="2" align="right"><span id="lblStrRate">@Model.TyLeLai</span></td>
                </tr>

                <tr>
                    <td><span class="font-weight-bold">Vay từ ngày</span></td>
                    <td align="right"><span id="lblFromDate">@Model.HD_NgayVay.ToString("dd/MM/yyyy")</span> </td>
                    <td align="right"><span id="lblToDate">@Model.HD_NgayDaoHan.ToString("dd/MM/yyyy")</span></td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-hover table-bordered table-detail-hd">
            <tbody>
                <tr>
                    <td><span class="font-weight-bold">Tổng lãi</span></td>
                    <td colspan="2" align="right"><span id="lblStrRate">@Model.TongTienLaiDaThanhToan</span></td>
                </tr>
                <tr>
                    <td><span class="font-weight-bold">Đã thanh toán</span></td>
                    <td colspan="2" align="right">
                        <span id="lblPaymentMoney">@Model.TongTienLaiDaThanhToan.ToString("N0")</span> VNĐ
                    </td>
                </tr>
                <tr>
                    @if (tienthuaHD <= 0)
                    {
                        lblDisplayDebitOrOverMoney = "Nợ cũ KH";
                        lblDisplayLoanDebit = "Nợ cũ HĐ";
                    }
                    else
                    {
                        lblDisplayDebitOrOverMoney = "Tiền thừa KH";
                        lblDisplayLoanDebit = "Tiền thừa HĐ";
                    }
                    <td>
                        <span class="font-weight-bold" id="lblDisplayDebitOrOverMoney">@lblDisplayDebitOrOverMoney: </span>
                        <span class="@(tienthuaHD <= 0?"text-danger":"text-success") font-weight-bold" id="lblCustomerDebitMoney">
                            @if (tienthuaHD < 0)
                            {
                                tienthuaHD = tienthuaHD * -1;
                                <span>@(tienthuaHD.ToString("N0")) VNĐ</span>
                            }
                            else
                            {
                                <span>@(tienthuaHD.ToString("N0")) VNĐ</span>
                            }
                        </span>
                    </td>
                    <td align="right">
                        <span class="font-weight-bold" id="lblDisplayLoanDebit">@lblDisplayLoanDebit: </span>
                        <span class="@(tienthuaHD <= 0?"text-danger":"text-success") font-weight-bold" id="lblLoanDebitMoney">
                            @if (tienthuaHD < 0)
                            {
                                tienthuaHD = tienthuaHD * -1;
                                <span>@(tienthuaHD.ToString("N0")) VNĐ</span>
                            }
                            else
                            {
                                <span>@(tienthuaHD.ToString("N0")) VNĐ</span>
                            }
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><span class="font-weight-bold">Trạng thái</span></td>
                    <td colspan="2" align="right" class="">
                        <span id="lblStatus">
                            <span class="m-badge m-badge--info m-badge--wide" style="font-size:12px">
                                @if (Model.HD_HinhThucLai == null)
                                {
                                    <span>Đang đầu tử</span>
                                }
                                else
                                {
                                     <span>Đang vay</span>
                                }
                        </span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>

<div class="tab-container">
    <div class="d-flex">
        <div class="tabs tab-tratienlai" data-type="tab-tratienlai">
            <h6><i class="fas fa-money-bill"></i> Trả tiền lãi</h6>
        </div>
        <div class="tabs tab-rutbotgoc" data-type="tab-rutbotgoc">
            <h6 class="font-weight-bold"><i class="fas fa-money-bill"></i> Rút bớt gốc</h6>
        </div>
        <div class="tabs" data-type="tab-vaythem">
            <h6><i class="fas fa-address-card"></i> Vay thêm</h6>
        </div>
        <div class="tabs tab-giahan" data-type="tab-giahan">
            <h6><i class="fas fa-retweet"></i> Gia hạn</h6>
        </div>
        <div class="tabs tab-rutvon" data-type="tab-rutvon">
            <h6><i class="fas fa-retweet"></i> Rút vốn</h6>
        </div>
        <div class="tabs tab-lichsu" data-type="tab-lichsu">
            <h6><i class="fas fa-retweet"></i> Lịch sử</h6>
        </div>


    </div>
    <div class="line"></div>
    <div class="mt-3">
        <fieldset id="tab-dongtienlai">
            <div id="divContent-Tralaitheongay">

            </div>
            <div id="divContent-ListPayment">

            </div>
        </fieldset>
        <fieldset id="tab-trabotgoc">
        </fieldset>
        <fieldset id="tab-vaythem">
        </fieldset>
        <fieldset id="tab-giahan">
        </fieldset>
        <fieldset id="tab-history">
        </fieldset>
    </div>
</div>

<script>
    $(document).ready(function () {
        setMoneyTextBox("#SoTienTraNoDisplay");
        setMoneyTextBox('#SoTienNoLaiDisplay');
       getListPaymentLog(@Model.Id);
        getInfoPaymentByDate(@Model.Id);
        var tab = '@tabActive';
        $('.' + tab).click();
    })


    function loadDataTab(type) {
        switch (type) {
            case "tab-history":
                getCuahang_TransactionLog(@Model.Id,'@Model.HD_Loai');
                 geHopDong_DebtNote(@Model.Id);
                break;
            case "tab-dongtienlai":
                getListPaymentLog(@Model.Id);
                getInfoPaymentByDate(@Model.Id);
                break;
            case "tab-trabotgoc":
            case "tab-vaythem":
                getHistoryLoanExtra(type,@Model.Id);
                break;
            case "tab-giahan":
                getListGiaHan(@Model.Id);
                break;
            case "tab-hengio":
                getListAlarmLog(@Model.Id);
                break;
             case "tab-chungtu":
                getChungTu(@Model.Id);
                break;
             case "tab-chuocdo":
                getInfoChuocDo(@Model.Id);
                break;
            default:
                break;
            // code block
        }
    }

</script>