@model HopDongPrintDefaulVm


<form asp-action="SavePrintDefault" method="post" data-name="ajaxFormPrintTemplate">
    @Html.HiddenFor(x => x.LoaiHopDong)
    <div class="row">
        <div class="col-lg-6">
            <h2>Hợp đồng mẫu lãi suất</h2>
            <img src="/images/mauhopdong/CamDo_Mau1.png" style="cursor:pointer;margin-top:5%" onclick="SetPrintView('@ECamDo_HopDongPrintTemplate.LaiSuat')">
            <label class="radio-inline">
                <input class="rdPrintCamDo" type="radio" asp-for="CamDo_HopDongPrintTemplate" value="@ECamDo_HopDongPrintTemplate.LaiSuat">
                Chọn mẫu này
            </label>
        </div>
        <div class="col-lg-6">
            <h2>Hợp đồng mẫu lãi thỏa thuận</h2>
            <img src="/images/mauhopdong/CamDo_Mau2.png" style="cursor:pointer" onclick="SetPrintView('@ECamDo_HopDongPrintTemplate.LaiThoaThuan')">
            <label class="radio-inline">
                <input class="rdPrintCamDo" type="radio" asp-for="CamDo_HopDongPrintTemplate" value="@ECamDo_HopDongPrintTemplate.LaiThoaThuan">
                Chọn mẫu này
            </label>
        </div>
        <div class="text-end">
            <button class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            <button type="submit" class="btn btn-primary">Lưu</button>
        </div>
    </div>
</form>

