@model PagedResult<HopDongVm>
@{
    ViewData["Title"] = "Quản lý hợp đồng cầm đồ";
}
<div class="row">
    <!-- table  Lastest Tickets -->
    <div class="col-12  ">
        <div class="card shadow h-100 mb-4 ">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="m-0 font-weight-bold">@ViewData["Title"]</h3>
                <button type="button" class="btn btn-primary btn-sm addEditHD" data-id="0" data-url="@Url.Action("Create","HopDong")">Thêm mới</button>
            </div>
            <div class="card-body">
                <form asp-action="Index" method="get" class="mb-4">

                    <div class="form-group row">
                        <label for="username" class="col-sm-2 font-weight-bolder text-dark col-form-label">Tên</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="ten" value="@Context.Request.Query["ten"]">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fas fa-search"></i>
                                <span class="ml-1">Tìm kiếm</span>
                            </button>
                            <a asp-action="Index" class="btn btn-success btn-sm ml-2">
                                <i class="fas fa-sync-alt"></i>
                                <span class="ml-1">Reset</span>
                            </a>
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">
                                    #
                                </th>
                                <th scope="col">
                                    Mã HĐ
                                </th>
                                <th scope="col">
                                    Khách Hàng
                                </th>
                                <th scope="col">
                                    Mã TS
                                </th>
                                <th scope="col">
                                    Tài sản
                                </th>
                                <th scope="col">
                                    Tiền cầm
                                </th>
                                <th scope="col">
                                    Ngày cầm
                                </th>
                                <th scope="col">
                                    Lãi đã đóng
                                </th>
                                <th scope="col">
                                    Tiền nợ
                                </th>
                                <th scope="col">
                                    Lãi đến hôm nay
                                </th>
                                <th scope="col">
                                    Ngày phải đóng lãi
                                </th>
                                <th scope="col">
                                    Tình trạng
                                </th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Items.Count > 0)
                            {
                                int idx = 1;
                                foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td>@idx</td>
                                        <td>@item.HD_Ma</td>
                                        <td>
                                            <p class="addEditHD hd_tenkhachang" data-id="@item.Id" data-url="@Url.Action("Edit","HopDong")">@item.TenKhachHang</p>
                                            <p class="font-12"><i class="fas fa-phone-alt"></i> @item.SDT</p>
                                        </td>
                                        <td>@item.MaTaiSan</td>
                                        <td>@item.TenTaiSan</td>
                                        <td>
                                            @item.HD_TongTienVayBanDau.ToString("N0")
                                            <p class="hd_laisuat">@item.TyLeLai</p>
                                        </td>
                                        <td>
                                            @item.HD_NgayVay.ToString("dd/MM/yyyy")
                                            <p>(@item.TongSoNgayVay ngày)</p>
                                        </td>
                                        <td>@item.TongTienLaiDaThanhToan.ToString("N0")</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>@item.HD_NgayVay.ToString("dd/MM/yyyy")</td>
                                        <td>Tình trạng</td>
                                        <td>
                                            <button class="btn btn-sm btn-purple detaileHD" type="button" data-id="@item.Id" data-url="@Url.Action("Detail","HopDong")" title="Cập nhật">
                                                <i class="fas fa-coins"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    idx++;
                                }

                            }
                            else
                            {
                                <tr>
                                    <td colspan="13" class="text-center">Không có dữ liệu</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts{
  
    <script>
        $(".cauhinhhanghoa-nav").addClass("active");
    </script>
}
<div class="modal fade" id="hd-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lager" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>